.button {
    height: var(--button-height);
    background-color: var(--color-dark);
    color: var(--color-light);
    border: var(--border);
    border-radius: var(--border-radius-small);
    font-size: 18px;

    &:hover {
        background-color: var(--color-light-blue);
        color: var(--color-dark);
        transition-duration: var(--transition-duration);
    }

    &-login {
        background-color: var(--color-light);
        color: var(--color-dark);

        &:hover {
            background-color: var(--color-light-blue);
            transition-duration: var(--transition-duration);
        }
    }
}