.button {
    display: flex;
    align-items: center;
    height: var(--button-height);
    padding: 15px;
    background-color: var(--color-dark);
    color: var(--color-light);
    border: var(--border);
    border-radius: var(--border-radius-small);
    font-size: 18px;

    &:hover {
        background-color: var(--color-light);
        color: var(--color-dark);
    }

    &-signup {
        background-color: var(--color-dark);
        color: var(--color-light);

        &:hover {
            background-color: var(--color-light-blue);
        }
    }

    &-login {
        background-color: var(--color-light);
        color: var(--color-dark);

        &:hover {
            background-color: var(--color-light-blue);
        }
    }
}