.input {
    display: flex;
    padding: 8px 30px;
    border: var(--border);
    border-radius: var(--border-radius);

    &:hover {
        filter: brightness(0.9);
    }

    &-min,
    &-max {
        padding-left: 15px;
        width: 130px;
    }
}

.select {
    padding: 10px 30px;
    border: var(--border);
    border-radius: var(--border-radius);
    padding-inline: 20px;

    &:hover {
        filter: brightness(0.9);
    }
}