@import 
    'normalize',
    'fonts',
    'mixins',
    'variables',
    'utils',
    'globals'; 


@import 
    'blocks/header',
    'blocks/button',
    'blocks/input',
    'blocks/section',
    'blocks/pagination',
    'blocks/showcase',
    'blocks/products',
    'blocks/news',
    'blocks/grid',
    'blocks/news-card',
    'blocks/contacts',
    'blocks/news-page',
    'blocks/footer';